# Node modules
node_modules/

# Environment variables
.env

# Build output
dist/
build/

# Drizzle migrations metadata
**/drizzle/migrations/meta/

# TypeScript cache
*.tsbuildinfo

# Logs
logs/
*.log

# npm
package-lock.json
